template(name="file")
  .col-50.sm-row: .file: .file-table: .file-row
    each file
      h1.file-title.ellipsis
        a.go-back(href="/") &lt;
        | &nbsp;
        | {{extless name}}
      if isPDF
        .file-cell: iframe.file-preview(src="{{fileURL .}}" frameborder="0")
      else if isImage
        picture.file-preview
          source(type="#{type}" srcset="{{fileURL this 'preview'}}")
          img.file-preview(src="{{fileURL this 'preview'}}" alt="#{name}")
      else if isAudio
        .file-cell: audio.file-preview.file-audio(controls autoplay preload="auto" loop)
          source(src="{{fileURL .}}?play=true" type="#{type}")
      else if isVideo
        .file-cell: video.file-preview(controls autoplay preload="auto" loop)
          source(src="{{fileURL .}}?play=true" type="#{type}")
      else if compare isText 'or' isJSON
        if warning
          .file-cell: h3.files-note
            | File too big to show preview, please 
            a(title="Download \"#{name}\"" href="{{fileURL .}}?download=true" download="#{name}") download it
        else if fetchedText
          .markdown-body
            if compare extension 'is' 'md|mdown|makrdown|MD|MDOWN|MARKDOWN'
              +markdown
                {{fetchedText}}
            else
              +markdown
                ```{{getCode}}
                #{fetchedText}
                ```
        else
          .file-cell: h3.files-note
            | Preview is not available, please 
            a(title="Download \"#{name}\"" href="{{fileURL .}}?download=true" download="#{name}") download file
      else
        .file-cell: h3.files-note
          | Preview is not available, please 
          a(title="Download \"#{name}\"" href="{{fileURL .}}?download=true" download="#{name}") download file

      if showInfo
        .file-overlay: table: tbody: tr: td: table.fixed-table: tbody
          tr
            th Name:
            td #{name}
          tr
            th Mime-type:
            td #{type}
          tr
            th Size:
            td {{filesize size}}
          tr
            th Extension:
            td 
              if extension
                | .#{extension}
              else
                | extension-less
          tr
            th Downloads:
            td
              | #{meta.downloads}
              | &nbsp;
              a(title="Download \"#{name}\"" href="{{fileURL .}}?download=true" target="_parent" download="#{name}")
                i.fa.fa-fw.fa-download
          tr
            th Abuse:
            td
              | #{meta.blamed}
              | &nbsp;
              a#blame(title="Mark this upload as inappropriate" href="#" class="{{#if isBlamed}}danger{{/if}}")
                i.fa.fa-flag

      a.info-link.show-info#showInfo(href="#" class="{{#if showInfo}}active{{/if}}")
        if showInfo
          i.fa.fa-fw.fa-times
        else
          i.fa.fa-fw.fa-info-circle

      unless showInfo
        a.info-link.right.download-file(title="Download \"#{name}\"" href="{{fileURL .}}?download=true" target="_parent" download="#{name}")
          i.fa.fa-fw.fa-download