template(name="file")
  +with file
    .panel.panel-default
      .panel-body(class="{{#if compare isText 'or' isJSON}}text-left{{else}}center no-padding{{/if}}")
          if isImage
            picture.file-preview
              source(type="#{type}" srcset="{{fileURL this 'preview'}}")
              img.file-preview(src="{{fileURL this 'preview'}}" alt="#{name}")
          else if isAudio
            audio.file-preview.file-audio(controls autoplay preload="auto" loop)
              source(src="{{fileURL .}}?play=true" type="#{type}")
          else if isVideo
            video.file-preview(controls autoplay preload="auto" loop)
              source(src="{{fileURL .}}?play=true" type="#{type}")
          else if compare isText 'or' isJSON
            if warning
              .alert.alert-warning.no-margin {{warning}}
            else if fetchedText
              if compare extension 'is' 'md|mdown|makrdown|MD|MDOWN|MARKDOWN'
                +markdown
                  {{fetchedText}}
              else
                +markdown
                  ```{{getCode}}
                  #{fetchedText}
                  ```
            else
              .alert.alert-info.no-margin.no-radius Preview is not available, please download file.
          else
            .alert.alert-info.no-margin.no-radius Preview is not available, please download file.
      .panel-heading: h3.panel-title.ellipsis
        if isAudio
          i.fa.fa-fw.fa-file-audio-o
        else if isVideo
          i.fa.fa-fw.fa-file-video-o
        else if isImage
          i.fa.fa-fw.fa-file-image-o
        else if isText
          i.fa.fa-fw.fa-file-text-o
        else if isJSON
          i.fa.fa-fw.fa-file-code-o
        else
          i.fa.fa-fw.fa-file-o
        | {{extless name}}
      table.table.table-bordered.table-condensed(style="table-layout:fixed")
        thead
          tr
            th.ellipsis Name
            th.ellipsis Mime-type
            th.ellipsis Size
            th.ellipsis Extension
            th.ellipsis Downloads
        tbody
          tr
            td.text-center.scroll.scroll-x: span.label.label-default #{name}
            td.text-center.scroll.scroll-x: span.label.label-default #{type}
            td.text-center.scroll.scroll-x: span.label.label-default {{filesize size}}
            td.text-center.scroll.scroll-x
              if extension
                span.label.label-default .#{extension}
              else
                small.help-block.no-margin extension-less
            td.text-center.scroll.scroll-x: a.label.label-default(title="Download \"#{name}\"" href="{{fileURL .}}?download=true"  target="_parent" download="#{name}")
              i.fa.fa-download
              | #{meta.downloads}
      .panel-body
        a.btn.btn-default.btn-block(title="Download \"#{name}\"" href="{{fileURL .}}?download=true" target="_parent" download="#{name}"): i.fa.fa-download